.header {
  display: flex;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  color: rgb(78, 78, 78);
  box-shadow: 0px 0px 10px 4px lightgray;
}

.header a {
  float: left;
  display: block;
  color: rgb(78, 78, 78);
  text-align: center;
  padding: 18px 17px;
  text-decoration: none;
  font-size: 18px;
}

.header a:hover {
  background: rgb(240, 247, 251);
}

.header input {
  float: right;
  margin-left: auto;
  padding: 18px 17px;

  color: rgb(78, 78, 78);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: text;
  border: none;
  background-color: transparent;
  outline: none;
}

.header input:focus {
  outline: none;
}

.footer {
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 65px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: rgb(78, 78, 78);
  box-shadow: 0px 0px 10px 4px lightgray;
}

.footer a {
  display: block;
  color: rgb(78, 78, 78);
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  width: 125px;
  padding: 10px 20px;
}

.footer a:hover {
  background: rgb(240, 247, 251);
}

.table-row {
  width: 100%;
  display: flex;
  padding: 10px 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(239, 239, 239);
}

.fuel-val {
  font-size: 20px;
  text-align: right;
  font-weight: 350;
  float: right;
  margin-left: auto;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.fuel-inp-div {
  float: right;
  margin-left: auto;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.fuel-inp {
  width: 100px;
  padding-right: 24px;
  font-size: 20px;
  text-align: right;
  font-weight: 350;
  color: rgb(78, 78, 78);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: text;
}

.fuel-inp:focus {
  outline: none;
}

.fuel-inp-span {
  font-size: 20px;
  font-weight: 350;
  margin-left: -20px;
}

select {
  font-size: 20px;
  color: rgb(78, 78, 78);
  margin-left: 15px;
}

.disc-button {
  float: right;
  font-size: 20px;
  color: rgb(78, 78, 78);
  margin-left: auto;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

select:focus {
  outline: none;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.column {
  flex: 50%;
  padding: 0px;
}

body,
h1,
p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0;
}

body {
  background: rgb(238, 238, 238);
  color: rgb(78, 78, 78);
}

h1 {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 35px;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

h2 {
  font-size: 25px;
  margin: 0;
  text-align: left;
}

h3 {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 26px;
  font-weight: 350;
  text-align: left;
  overflow: hidden;
}

.bar {
  margin: 15px 20px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px lightgrey;
}

.fuel-bar {
  height: calc(100vh - 185px);
  margin: 15px 20px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px lightgrey;
}

.index-button {
  display: block;
  width: 50%;
  cursor: pointer;
  color: rgb(26, 26, 26);
  text-align: center;
  padding: 18px 17px;
  font-size: 18px;
  margin: 5px;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}

.index-button:hover {
  background: rgb(240, 247, 251);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(40, 158, 214);
}

iframe {
  position: relative;
  display: block;
  margin: 5px;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-radius: 5px;
  width: 100%;
}

.close {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.gauge {
  height: 85px;
  /*overflow: hidden;*/
  position: relative;
  width: 170px;
}

.gauge .arc {
  background-image:
    radial-gradient(#fff 0, #fff 60%, transparent 60%),
    conic-gradient(green 0deg, #ccc 0deg);
  background-position: center center, center center;
  background-repeat: no-repeat;
  background-size: 105% 105%, 105% 105%;
  border-radius: 50%;
  border-style: none;
  height: 170px;
  position: relative;
  width: 100%;
}

.gauge .label {
  bottom: 0px;
  font-size: 26px;
  font-weight: 350;
  left: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.gauge .val {
  bottom: -26px;
  font-size: 26px;
  font-weight: 700;
  left: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 968px) {
  .row {
    flex-wrap: wrap;
  }

  .column {
    flex: 100%;
  }

  .fuel-bar {
    position: relative;
    height: auto;
    min-height: 100% !important;
  }
}